body, html {
    padding: 0;
    margin: 0;
}

body {
    background: #f8f8f8;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
}

label {
    display: block;
    margin: 20px 0 0 0;
}

input, textarea {
    margin: 10px 0;
    display: block;
}

textarea {
    width: 100%;
    border: 1px solid #d1d1d1;
    height: 150px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 5px;
    resize: vertical;
}

hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.container {
    background: white;
    margin: 50px auto;
    border-radius: 5px;
    width: 650px;
    border: 1px solid #f3f3f3;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

}

table {
    text-align: center;
    width: 100%;
}

tr th:first-of-type {
    width: 150px;
}

tr img {
    width: 150px;
}