body,html{
    padding: 0;
    margin: 0;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;

}
form{
    width: 500px;
    margin: 0 auto;
    text-align: center;
}
form textarea{
    width: 100%;
    display: block;
    height: 150px;
}
form textarea:disabled{
    background: #dadada;
}
form input[type="submit"]{
    background: #009d00;
    color: white;
    border-radius: 3px;
    padding: 5px 10px;
    border: 1px green;
    font-size: 15px;
    cursor: pointer;
}